{% extends "base.html" %}
{% load static %}
{% load i18n %}
<!-- add active tag to main navigation -->
{% block national-pulse-active %}current-page{% endblock %}

{% block content %}

<!-- National Pulse page content -->

<div class="site-wrapper">
    <div class="row-content">
        <div class="page-title">National Pulse</div>
                <div class="main-content">

                    <div class="poll-question">
                      <!-- Placement of pulse question code -->
                      Welcome to the National Pulse, you can now see what is trending in the U-report community.
                    </div>

		    <div id="controls">
		      <a href="{% url 'website-national-pulse-detail' 'day' %}"class="btn btn-primary btn-mini">Today's pulse</a>
		      <a href="{% url 'website-national-pulse-detail' 'week' %}"class="btn btn-primary btn-mini">This week's pulse</a>
		      <a href="{% url 'website-national-pulse-detail' 'month' %}" class="btn btn-primary btn-mini">This month's pulse</a>
		      <a href="{% url 'website-national-pulse-detail' 'year' %}" class="btn btn-primary btn-mini">This year's pulse</a>
		      <a id="dc-reset" href="javascript:dc.filterAll();dc.redrawAll();" class="btn btn-mini btn-warning hidden">Reset</a>
                    </div>

                    <div class="poll-content">
                        <!-- Placement of pulse pie code -->
			<div class="poll-pie">
			    <div id="national-pie-chart">
				<span class="reset" style="display: none;">
				  {% trans "Showing pulse for" %}
				  <a href="javascript:load_cloud_with_category()" class="filter" id="category_filter"></a>
			        </span>
			    </div>
			</div>

                        <!-- Placement of pulse map code -->
			<div id="ug-chart" class="well well-small">
			  <span class="reset" style="display: none;">
                            {% trans "Showing pulse for" %}
                            <span class="filter"></span>
			  </span>
			</div>

                        <!-- Placement of map legend code -->
		        <div id="legend_div"><ol class="legend well"></ol></div>

			<div id="loading" style="position: absolute; top: 0; left: 42%; z-index: 56; background: #ffff00;">
			    Loading National Pulse... Please wait, This may take a while.<br/>
			    <img src="{% static 'img/ajax-loader.gif' %}" style="padding-left: 40%">
			</div>

                    </div>
                </div>
          
        <!-- AddThis Button BEGIN -->
        <div class="sharebar">
            <div class="addthis_toolbox addthis_default_style addthis_16x16_style">
                <div class="sharetext">Share this</div>
                    <a class="addthis_button_facebook"></a>
                    <a class="addthis_button_twitter"></a>
                    <a class="addthis_button_google_plusone_share"></a>
                    <a class="addthis_button_email"></a>
                    <a class="addthis_button_linkedin"></a>
                    <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
                </div>
            </div>
        </div>
    <!-- AddThis Button END -->

    <div class="sidebar">
	<div class="page-picture"><img src="{% static 'img/national_pulse_image.jpg' %}" height="341" width="350"/></div>
	<div class="page-ad"><img src="{% static 'img/become_rest.gif' %}" height="135" width="350"/></div>
    </div>
</div>
  <script>
    // bind map and pie chart to DOM
    var map = dc.geoChoroplethChart("#ug-chart");
    var categoryChart = dc.pieChart("#national-pie-chart")

    // configure map for Uganda
    configure('UG');

    // load data assets
    queue()
      .defer(d3.json, "{% static 'districts.json' %}")
      {% if pulse_json_period %}
      .defer(d3.json, "{{ pulse_json_url }}{{ pulse_json_period }}/")
      {% else %}
      .defer(d3.json, "{{ pulse_json_url }}")
      {% endif %}
      .await(ready);
  </script>

  <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js"></script>
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pulse.css' %}"/>
    <script type="text/javascript" src="{% static 'js/d3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/crossfilter.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/queue.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dc.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/colorbrewer.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/d3.geo.projection.v0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-modal.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/national-pulse.js' %}"></script>
{% endblock %}
