{% extends "base.html" %}
{% load static %}
{% load i18n %}
<!-- add active tag to main navigation -->
{% block national-pulse-active %}current-page{% endblock %}

{% block content %}

<!-- National Pulse page content -->

<div class="site-wrapper">
    <div class="row-content">
        <div class="page-title">National Pulse</div>
                <div class="main-content">
                    <div class="poll-question">

                    <!-- Placement of pulse question code -->

                    Hello UReporter, you've been selected to be one of our special reporters on Education. Tell us if you are a Parent/Guardian, Student, Teacher or Other. Thank you.
                    </div>
		    <div id="controls">
                        <div class="reset-button btn-group">
                            <button type="submit" value="1" class="btn btn-primary btn-mini">Today's pulse</button>
                            <button type="submit" value="1" class="btn btn-primary btn-mini">This month's pulse</button>
                            <button type="submit" value="1" class="btn btn-primary btn-mini">This year's pulse</button>
                        </div>
			<div class="pulse-filter">
			    <!-- Placement of pulse reset button code -->
			    <a class="btn btn-default btn-mini" href="javascript:dc.filterAll();dc.redrawAll();">Reset to national pulse</a>
			</div>

                    </div>
                    <div class="poll-content">
                        <!-- Placement of pulse pie code -->

			<div class="poll-pie">
			    <div id="national-pie-chart" class="donut">
				<span class="reset" style="display: none;">
				  <a class="btn btn-default btn-mini" href="javascript:nationalPieChart.filterAll();dc.redrawAll();">reset</a>
				  | {% trans "Filter word cloud with" %}
				  <a href="javascript:load_cloud_with_category()" class="filter" id="category_filter"></a>
			        </span>
			    </div>
			</div>

                        <!-- Placement of pulse map code -->
			<div id="ug-chart">
				<span class="reset" style="display: none;">
				  <a class="btn btn-default btn-mini" href="javascript:ugChart.filterAll();dc.redrawAll();">reset</a>
                                  | Showing pulse for: <span class="filter" style="color: #F00; font-weight:bold;"></span>
			        </span>
			</div>

                        <!-- Placement of map legend code -->
                            <div class="legend">
                            </div>

			<div id="loading" style="position: absolute; top: 0; left: 42%; z-index: 56; background: #ffff00;">
			    Loading National Pulse... Please wait, This may take a while.<br/>
			    <img src="{% static 'img/ajax-loader.gif' %}" style="padding-left: 40%">
			</div>

                    </div>
                </div>
          
        <!-- AddThis Button BEGIN -->
        <div class="sharebar">
            <div class="addthis_toolbox addthis_default_style addthis_16x16_style">
                <div class="sharetext">Share this</div>
                    <a class="addthis_button_facebook"></a>
                    <a class="addthis_button_twitter"></a>
                    <a class="addthis_button_google_plusone_share"></a>
                    <a class="addthis_button_email"></a>
                    <a class="addthis_button_linkedin"></a>
                    <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
                </div>
        </div>
    </div>
    <!-- AddThis Button END -->

    <div class="sidebar">
	<div class="page-picture"><img src="{% static 'img/national_pulse_image.jpg' %}" height="341" width="350"/></div>
	<div class="page-ad"><img src="{% static 'img/become_rest.gif' %}" height="135" width="350"/></div>
    </div>
</div>

    <script>
        // bind map and pie chart to DOM
	var ugChart = dc.geoChoroplethChart("#ug-chart");
	var nationalPieChart = dc.pieChart("#national-pie-chart")

	// parse map arguments
	var raw_map_args = '{{ map_args }}';
	var cleaned_map_args = raw_map_args.replace(/&#39;/g, "\"");
	var map_args = JSON.parse(cleaned_map_args);
	var width = map_args.width
	var height = map_args.height

	// define map projection
	// use Albers because it is an equal area projection
	var projection = d3.geo.albers()
	  .center([map_args.center.latitude, map_args.center.longitude])
	  .rotate(map_args.rotate)
	  .parallels(map_args.parallels)
	  .scale(map_args.scale);

	// load data assets
	queue()
	  .defer(d3.json, "{% static 'districts.json' %}")
	  .defer(d3.json, "{% static 'pulse.json' %}")
	  .await(ready);
    </script>

    <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js"></script>
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pulse.css' %}"/>
    <script type="text/javascript" src="{% static 'js/d3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/crossfilter.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/queue.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dc.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/colorbrewer.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/d3.geo.projection.v0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-modal.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/national-pulse.js' %}"></script>
{% endblock %}
