{% extends "base.html" %}
{% load static %}
{% load i18n %}
<!-- add active tag to main navigation -->
{% block national-pulse-active %}current-page{% endblock %}

{% block content %}

<!-- National Pulse page content -->

<div class="site-wrapper">
    <div class="row">
	<div class="page-title">National Pulse</div>
	<div class="main-content">
	    <div class="poll-question">
		<!-- Placement of pulse question code -->
		Hello UReporter, you've been selected to be one of our special reporters on Education. Tell us if you are a Parent/Guardian, Student, Teacher or Other. Thank you.
	    </div>

	    <div class="reset-button btn-toolbar">
		<div class="btn-group"><a href="javascript:ugChart.filterAll();dc.redrawAll();" class="btn btn-primary btn-mini">Reset</a></div>
		<div class="btn-group"><a href="{% url 'website-national-pulse-detail' 'today' %}"class="btn btn-primary btn-mini">Today's pulse</a></div>
		<div class="btn-group"><a href="{% url 'website-national-pulse-detail' 'month' %}" class="btn btn-primary btn-mini">This month's pulse</a></div>
		<div class="btn-group"><a href="{% url 'website-national-pulse-detail' 'year' %}" class="btn btn-primary btn-mini">This year's pulse</a></div>
	    </div>

	    <div class="container">
		<!-- Placement of ap legend code -->
		<div id="legend" class="pull-left"><ol class="legend"></ol></div>

		<!-- Placement of pulse pie code -->
		<div id="national-pie-chart" class="donut control pull-left"></div>

		<!-- Placement of pulse map code -->
		<div id="ug-chart"></div>
	    </div>


	    <!-- Placement of loading code -->
	    <div id="loading" style="position: absolute; top: 0; left: 42%; z-index: 56; background: #ffff00;">
		Loading National Pulse... Please wait, This may take a while.<br/>
		<img src="{% static 'img/ajax-loader.gif' %}" style="padding-left: 40%">
	    </div>

	    <!-- AddThis Button BEGIN -->
	    <div class="sharebar">
		<div class="addthis_toolbox addthis_default_style addthis_16x16_style">
		    <div class="sharetext">Share this</div>
		    <a class="addthis_button_facebook"></a>
		    <a class="addthis_button_twitter"></a>
		    <a class="addthis_button_google_plusone_share"></a>
		    <a class="addthis_button_email"></a>
		    <a class="addthis_button_linkedin"></a>
		    <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
		</div>
		<script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js"></script>
	    </div>
	    <!-- AddThis Button END -->

	</div>
    </div>
</div>

    <script>
	$( "#loading" ).hide();

	var numberFormat = d3.format(".2f");
	var ugChart = dc.geoChoroplethChart("#ug-chart");
	var totalsChart = dc.bubbleChart("#totals-chart");
	var nationalPieChart = dc.pieChart("#national-pie-chart")
	var raw_map_args = '{{ map_args }}';
	var cleaned_map_args = raw_map_args.replace(/&#39;/g, "\"");
	var map_args = JSON.parse(cleaned_map_args);
	var width = map_args.width
	var height = map_args.height

	var projection = d3.geo.albers()
	.center([map_args.center.latitude, map_args.center.longitude])
	.rotate(map_args.rotate)
	.parallels(map_args.parallels)
	.scale(map_args.scale);

	// declare some vars here so they are available
	// in the browser console for debugging
	var data;
	var districts;
	var shapes;
	var data1;
	var categories;
	var debug = false;
	var total;
	var caseTypes;
	var categoriesGroup;

	queue().defer(d3.json, "{% static 'districts.json' %}")
	.defer(d3.json, "{% static 'pulse.json' %}")
	.await(ready)
    </script>

{% endblock %}

{% block extra_head %}
    <script type="text/javascript" src="{% static 'js/d3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/crossfilter.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/queue.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dc.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/colorbrewer.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/d3.geo.projection.v0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-modal.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/national-pulse.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/dc.css' %}">

    <style>
	.legend {
	    list-style-type: none;
	    float: left;
	    padding: 0px;
	}
	.legend > li {
	    color: #CCC;
	    text-align: center;
	    font-weight: bolder;
	}
    </style>
{% endblock %}
