{% extends "base.html" %}
{% load url from future %}
{% load static %}
<!-- add active tag to main navigation -->
{% block polls-active %}current-page{% endblock %}

{% block content %}

<!-- Polls list page content -->

<div class="site-wrapper">
    <div class="row-content">
        <div class="page-title">
            Poll: {{ poll.name }}
        </div>

        <div class="main-content">
            <table class='table'>
                <tr><td>Name<td><td>{{ poll.name }}</td></tr>
                <tr><td>Question<td><td>{{ poll.question }}</td></tr>
                <tr><td>No of Receipients<td><td>{{ poll.contacts_count}}</td></tr>
                <tr><td>No of Responses<td><td>{{ poll.response_count }}</td></tr>
                <tr><td>Response Rate<td><td>{{ poll.response_rate|floatformat }}%</td></tr>
                <tr><td>Start date<td><td>{{ poll.start_date }}</td></tr>
                <tr><td>End date<td><td>{{ poll.end_date }}</td></tr>
            </table>
        </div>

        <!-- AddThis Button BEGIN -->
        <div class="sharebar">
            <div class="addthis_toolbox addthis_default_style addthis_16x16_style">
                <div class="sharetext">Share this</div>
                    <a class="addthis_button_facebook"></a>
                    <a class="addthis_button_twitter"></a>
                    <a class="addthis_button_google_plusone_share"></a>
                    <a class="addthis_button_email"></a>
                    <a class="addthis_button_linkedin"></a>
                    <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
                </div>
            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js"></script>
        </div>
    </div>
    <!-- AddThis Button END -->

    <div class="sidebar">
        <div class="poll-recent">
            <div class="poll-recent-title">Recent polls</div>
            <div id="poll-recent-content" class="poll-recent-content">
                <ul>
		    {% for poll in recent_polls %}
            <li><div class="date">{{ poll.start_date }}</div>{{ poll.question }}<a href="{% url 'website-polls-detail' poll.id %}">see results</a></li>
		    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="page-searchtools">
	    <form class="" action="">
                <input name="q" type="text" class="input-block-level" placeholder="search polls by question or keyword">
                <div class="endmonth"><button type="submit" value="1" class="btn">Search</button></div>                   
            </form>
        </div>        
	<div class="page-ad"><img src="{% static 'img/become_rest.gif' %}" height="135" width="350"/></div>
    </div>
</div>

<!-- Javascript for custom scroll bar on poll list -->

<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<script type="text/javascript">
    $(function(){
        $('#poll-recent-content').slimScroll({
          distance: '5px',
        });       
     });
</script>

{% endblock %}
